body {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    font-size: 25px;
}
.flex {
    display: flex;
}
.height {
    height: 700px;
}
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}
.jcsa {
    justify-content: space-around;
}
.alignicenter {
    align-items: center;
}
section#one {
    /* border: 1px solid black; */
    width: 60%;
    box-sizing: border-box;
}
section#two {
    /* border: 1px solid black; */
    margin-left: 5%;
    width: 15%;
    box-sizing: border-box;
}
span#name {
    font-size: 50px;
}
img#sprite {
    width: 110px;
}
span#pkdexentry {
    margin-top: 5%;
}
button {
    width: fit-content;
    margin-top: 2%;
}
.hundred {
    width: 100%;
}
@media (max-width:475px) {
    body{
        font-size: 15px;
    }
    span#name {
        font-size: 25px;
    }
    div#pcbtn {
        display: none;
    }
    div#mblbtn {
        display: flex;
    }
    section#one {
        text-align: center;
    }
    .row {
        flex-direction: column;
    }
    main {
        align-items: center;
        justify-content: flex-start;
    }
    div#mblbtn {
        margin-top: 10px;
        align-items: center;
    }
    section#two {
        width: 100%;
        text-align: center;
    }
}
.nodisp {
    display: none;
}